---
layout: 2018_default
permalink: /faqs
title: Frequently Asked Questions (FAQ)
---
    <!--background color-->
    <script type="text/javascript">
        document.write ('<body style="background: Gainsboro; background-attachment: fixed;">')
    </script>

    <div class="black-frame about">
       <h1 class="title">{{ page.title }}</h1>

       <p class="blackp">
           Check out our questions and answers to find out more about the Gamechangers for Diversity in STEM event.

           <ul>
               <li><a href="#applications">Applications</a></li>
               <li><a href="#collab">Collaborative working</a></li>
               <li><a href="#pitches">Pitches and prizes</a></li>
               <li><a href="#comms">External communications</a></li>
            </ul>
       </p>

       <h2 class="first" id="applications">Applications</h2>

       <ul>
           {% for faq in site.data.twenty_18.faqs_applications %}
               <li class="faqquestion"><b>{{ faq.question }}</b>
                   <li class="faqanswer">{{ faq.answer }}</li>
               </li>
               <br>
           {% endfor %}
       </ul>

       <h2 class="first" id="collab">Collaborative working</h2>

       <ul>
           {% for faq in site.data.twenty_18.faqs_collaborative %}
               <li class="faqquestion"><b>{{ faq.question }}</b>
                   <li class="faqanswer">{{ faq.answer }}</li>
               </li>
               <br>
           {% endfor %}
       </ul>

       <h2 class="first" id="pitches">Pitches and prizes</h2>

       <ul>
           {% for faq in site.data.twenty_18.faqs_pitches %}
               <li class="faqquestion"><b>{{ faq.question }}</b>
                   <li class="faqanswer">{{ faq.answer }}</li>
               </li>
               <br>
           {% endfor %}
       </ul>

       <h2 class="first" id="comms">External communications</h2>

       <ul>
           {% for faq in site.data.twenty_18.faqs_comms %}
               <li class="faqquestion"><b>{{ faq.question }}</b>
                   <li class="faqanswer">{{ faq.answer }}</li>
               </li>
               <br>
           {% endfor %}
       </ul>

       <p>
           If your question isn't answered here, <a href="/#contact">please send us a message</a>. Thank you!
       </p>
   </div>
