<!-- Services Section -->
  <section id="intro">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading">Celebrating Ada Lovelace Day 2018</h2>
        </div>
      </div>
      <div class="row container">
        <p>
          On 9 October 2018 - <a href="https://findingada.com/">Ada Lovelace Day</a> - we're delighted to share with you some of the stories from <strong>Gamechangers for Diversity in STEM</strong>.
        </p>
        <p>
          You can listen to this wonderful podcast by the even more wonderful <a href="https://www.sp.phy.cam.ac.uk/directory/ankita-anirban">Ankita Anirban</a> and featuring many of our fantastic participants:
        </p>
        <audio src="/css/2018_style/Podcast_v2_20181008.mp3" controls preload></audio>
        <p>
          Or check out <a href="https://www.turing.ac.uk/sites/default/files/2018-10/Gamechangers%20event%20report.pdf">the report</a> by Turing communications team member <a href="https://www.turing.ac.uk/people/business-team/chizom-ekeh">Chizom Ekeh</a>.
        </p>
        <p>
          You can watch the videos of our wonderful keynote speakers:
          <ul>
            <li>Tabitha Goldstaub: <a href="https://youtu.be/9tKr6dTYFmY">Why we must engage with AI now</a></li>
            <li>Dr Emma Chapman <em>(on its way)</em></li>
            <li>Dr Ozak Esu: <a href="https://youtu.be/2xWv0hFK8oc">Championing equality, diversity and inclusion in STEM: Ozak's perspectivew</a></li>
            <li>Dr Alfredo Carpineti: <a href="https://youtu.be/nFGLmuG2cOk">Being LGBTQ+ in STEM</a></li>
          </ul>
        </p>
        <p>
          The project pitches to potential funders on the afternoon of the second day of Gamechangers are really wonderful. Check them out! (Click on the team name to view the video.)
          <ul>
            <li><a href="https://youtu.be/R8-3tnHWwiE">Scientists are human</a> (website: <a href="https://scientistsarehumans.com/">https://scientistsarehumans.com</a>, twitter: <a href="https://twitter.com/scientistshuman">@scientistshuman</a>, facebook: <a href="https://www.facebook.com/scientistsarehumans/">@scientistsarehumans</a>)</li>
            <li><a href="https://youtu.be/_GjVijUniv8">Next level</a></li>
            <li><a href="https://youtu.be/JNyp0CuXNDk">Out and about in STEM</a></li>
            <li><a href="https://youtu.be/OnK-cx57PPY">Log life book</a></li>
            <li><a href="https://youtu.be/WzWhLpRF3gI">Evidence-based science communication action research</a></li>
            <li><a href="https://youtu.be/hB1cbPxXqhU">Diversity engine</a></li>
            <li><a href="https://youtu.be/km9X6kVis-E">Roots to STEM</a></li>
            <li><a href="https://youtu.be/-k1gbi3JrCA">Check yourself</a></li>
          </ul>
        </p>
        <p>
          Our participants have also written up their experiences:
          <ul>
            <li><a href="http://bcswomen.bcs.org/19132-2/">Dr Hannah Dee’s Blog on STEM Gamechangers</a> for <a href="http://bcswomen.bcs.org/">BCS Women</a></li>
            <li><a href="https://medium.com/@taughtbyhumans/taking-stem-diversity-to-the-next-level-7d9fde754084">Taking STEM Diversity to the NEXT LEVEL</a> by Laura Gemmel for <a href="https://medium.com/@taughtbyhumans">thoughts by humans</a></li>
          </ul>
        </p>
        <p>
          And lastly, enjoy the fantastic pictures from two inspirational days!
        </p>
        <script src="https://www.publicalbum.org/js/pa-embed-player.min.js" async></script>
          <div class="pa-embed-player" style="width:100%; height:480px; display:none;"
            data-link="https://photos.app.goo.gl/AzMn8Lh5qRneAWXe8"
            data-title="Gamechangers for Diversity in STEM - September 2018"
            data-descrition="Album by Kirstie Whitaker"
            data-slideshow-delay="3">
            <img data-src="https://lh3.googleusercontent.com/eoTUKuWOW4soGU6ZYfPf8EOuVMMHvM-0uTg8GVW7i2k7aWN_K_Uc4cLrnIOd5id4Y2jiGzufYjXwV-vY7sMJKQLlCPiR6kzmD1_RmR-E-0hfPDKbhVjPut-k97r-vJudrtx7NcKNMQ=w4898-h3265" src="" alt="" />
            <img data-src="https://lh3.googleusercontent.com/G9ZRbhOoONlpk3z6Wal1oISah_iJ8qBy2dHlPddRVZ8TBbjyq9__ZYP_GNvT14naTQcMSeX7DYYbCXAMLCnU-su37fKK6nahIx1Ibi1xMwEUH2XvGO_3SCAyol1QFP0hfbhXxSLEZQ=w4898-h3265" src="" alt="" />
            <img data-src="https://lh3.googleusercontent.com/auAPYILnJPnKVKKT1nU4tltEIo6jmzvTw0JxIaKiEaOkvcsknm4ZdnEKKpqX-axbpJLqUX9iWw-sWENUP-czkpdrKflwHvcqwqETzieCEqYreJTX7kD9uSUK8bn5XtHWypkS7SSbsQ=w4898-h3265" src="" alt="" />
            <img data-src="https://lh3.googleusercontent.com/Nc0OyumpoHArP7yEBcmTYjPKvCnVRCJk8jZxodPNYKf9VVCKF2fGNqp4VW2JdTvRGPlSQcvbIfIv8r5j1ASBkEoyL_L-xLyCJ1LtaDmFPXVqzfBJ3cNWJoo84PVw8bwWc4Jcl7qzVA=w4898-h3265" src="" alt="" />
            <img data-src="https://lh3.googleusercontent.com/RdtA8y11DDvW9Ma0WQcgg4EfFf42CTFAzkjhOPGyQ_Ho0IZZOQ5NOaJnGghtiJ26_E9JR3p6DEinGLC01KABsN4BKT2NLarcrbF_cqm5I8V5IqQ9O0IMKtrJNekKmS4hQ7Pt6IdkmA=w4898-h3265" src="" alt="" />
            <img data-src="https://lh3.googleusercontent.com/fsEvUr7BTClxHLzgZEvH-Xtoi6qraw-mJtM7ZdnjQnhJNk0v-fmeKcESFMcd-rWmjfMwEBuPq7mrujjxAbvN1GPmdDRoUlgcaQmwRgd9zsCP9yMSCtji-SXp6l6HB7VCA_IvBAjj_g=w4898-h3265" src="" alt="" />
            <img data-src="https://lh3.googleusercontent.com/L28Oj3Nwu4Ld70mOmjft_Hck0-CSmAAGsZqtXZ8eFQUiw4Y0HMEhXJ2zI4rT4iAZ92I3_deTeBCJsQjziRZFL60rRuzYrm1hl_i4SzdT4LosZDSoEFJAi5B2wL6SYxwf1kiuRcT57A=w5355-h2987" src="" alt="" />
            <img data-src="https://lh3.googleusercontent.com/uZ4xMzMVRdZ9Un1ApbcbhXJD7yFIvAEtVzbE_9I6MthmW3ZGlOpcJINn6ZBM_MXAdvso_zUxVbwdZpM5dsXqrpWqUoii7TfXwEkiLrN83VilzCgo8Q4DPbqPdp1gaOmOhgIeBUvd4w=w4898-h3265" src="" alt="" />
            <img data-src="https://lh3.googleusercontent.com/tHlEUp9dE0WTd-S8urA_GJJZdKSXUZTZOCjfpWv4D_DuwKp_748ewmMAhcTBNGwNYzH38glPIihO9ZYlbJSz__ALCyAHpbkiTP4M8NS9J7jizQJ-7wRjiyrokQ9HcrfmRGGmqIiPrg=w4898-h3265" src="" alt="" />
            <img data-src="https://lh3.googleusercontent.com/qxJll4hvBvOg1npId_7beWkOkzfCSPTc4OBGGFogY-jGNE1NPGQ8APCJd8P31Rki55sZ6PRxKxCw0mJQW1wj52juTNGSPvNXqD0IKAE-04uJdCZ6axBFWX4K5SSbke2tlyYYnSANCQ=w4898-h3265" src="" alt="" />
            <img data-src="https://lh3.googleusercontent.com/wBvxIl4M4D-liTIRlZqS0UXoZIPu1me3gIgNAmDdbLYxp39detO925F4nJOhzhN_yhcmRqzqnnFAC2YwaqC_mgudOM5ssRs6ledLpGrxHh10cRiSZdtqkt2dD1cPDfL_v-Ej4mUvpA=w4898-h3265" src="" alt="" />
            <img data-src="https://lh3.googleusercontent.com/TWwLvDQCRFvbdoXd977equ4E-MxEMaecQcJgLAslQ8b9-NkdSIHj-hb7URmw1wrRHI1W_CpYmPXb5i1YIAcVqamiI5_YhXtqyiPIqQuHCGJxql4gI3MNJbhZqf3P3JoYD5s_DETRgA=w4898-h3265" src="" alt="" />
            <img data-src="https://lh3.googleusercontent.com/YAzyQ2zzJ8JNk1NrpeadDIBV77nDhg1UBNH7G3vFSuw_Sux7KheuBf1_-_1_DG-EfmNb1nc29lEf44x-m2MltxWJTItLH6khJX0INlhmvVvyhL5UfWDjW_AOaxhCTKgwLle4fP7y_A=w4898-h3265" src="" alt="" />
            <img data-src="https://lh3.googleusercontent.com/sjxusX5Y8t-mZevnHxCxIq5O7kTFzKlZ7nMzW_BEIv2e9nPPsMqW_uDgIxtLWwK4AM8NEGWVmosNHwCV-bL7FvZKPXxq9nNCyH5w7Sks2L-5lPwGPaN4BKon_3SPm3lBul0ghctbaQ=w4831-h3311" src="" alt="" />
            <img data-src="https://lh3.googleusercontent.com/mFrMGp-rxw4Il3Cq5Z7Tk_kkivAXSStlxpkj5DWNg6ARksFpmboWI2ZuzHLFACw5c-Lbf_LXhYr-9TuZgjNrTADng6MztITuMDVqVXtwxC-vNpTfrRU7Dz6MA6gVHMITYdkWQB0Uiw=w4898-h3265" src="" alt="" />
            <img data-src="https://lh3.googleusercontent.com/abgemevPV-qhCRe8vz2cdUisT_ExQJfJHLOtndS3aLaqucgbxSfJN-_R2X7kRdIEsQjOPkp1lXUjwbHJMplRGCNzllf4NU1-etlYifIjVVlJk8HBzQMPZ8T2yLybFjTZTZuhroB_8A=w4933-h3242" src="" alt="" />
            <img data-src="https://lh3.googleusercontent.com/B82R-1Qx6JhOKdNSs78udxuDiyg-sVSrvdbw4PcBDONp0mlLC10iCfNkXQflElYB6Cg5E1h3Q-ggFG4u2erU3pYbNUoVq0_SXd1MZ9mxq1Y75AcVrxkZHG-MSWz3rX5o_FLdFKySFA=w4898-h3265" src="" alt="" />
            <img data-src="https://lh3.googleusercontent.com/y8dXOTmOsV8jhug2v4a3lLN1DmhvKi1DmXmiyU4CCOg6S8ENzoM-evX8NsGhSSYH4X1B-GiOQ4sIIqQE-gByQhnz8UaX-JgfVl44mItm8oAXwtJIletdcp0Lie95RtZ5OvMMZjAygg=w4898-h3265" src="" alt="" />
            <img data-src="https://lh3.googleusercontent.com/4DLU8Jdw3LW_wR9bIV6Dq6qSWW2JjsiKr68iELBMLxQUG_zk6Ck8hyAX8RbYm2RhMqler1aSodlTi7ToE_xXnWzs9XA0kunl7Qz6mHQlpYq3MUEtdESB65_awEYcQXSoNM8d_WokHg=w4873-h3282" src="" alt="" />
            <img data-src="https://lh3.googleusercontent.com/7YIBX3XnAuqdw1Ivt3_fscJJZKv58H3MrxXzMIgeepp2zgRBJDIPu93QJHSsEWEo7iSk7EzfS2GEQwIVezlCZ3H_MdHbRTaTUzT2BodZndM1a8jFasnWpRL0DNQUaNS4pkwMyaBqDw=w4898-h3265" src="" alt="" />
            <img data-src="https://lh3.googleusercontent.com/-Th1v5pOTKpTBsV-Uc60W6tJ2kJvPPnBZUaErtZNkJ72Xd0euX-T5Qj8YizrAP6zQXqn2OZBjcKYvEKiVwHHtKi7jHnswkD-0LWcNHVxIbRaX3hsQ9iAd02fmADX4lAd8-MARh_J_A=w4898-h3265" src="" alt="" />
            <img data-src="https://lh3.googleusercontent.com/bejrsHG8caL5fdMWqMmM7z6NY3XIcvUy8rB3tLcJ35qcLpsiJS8C8lrQm_-Ep2qnErVMSEz-SFAt9bDz3eb7AQ0xtCZqh3OekHww9G3ylyq0eHDFN-jAyZ0TIVd5u2bVnlyxllqiaA=w4898-h3265" src="" alt="" />
            <img data-src="https://lh3.googleusercontent.com/8UHMuxIOqgOzZ1nsibcxFHyxg2g9x4VB-SMwVqsKfJNnZbechkA2C_tnCDExqr8DUZ0oscdBkmkc_PX_sdK3BjSNAmpxXCk9nZGMwpepjGthSc4URTG5ZS7G8k776-CzjrI_7w1HnQ=w4898-h3265" src="" alt="" />
            <img data-src="https://lh3.googleusercontent.com/zafYX1jNxSwV8GXNwEtc-ela1H55dk9vdeYBc13bYXrZk2kdnq4YNmU9IbcxxIm2vrIhdHPRVk5lw1kYbT7qY-ww3SftTS6bYm8cVcLf4ZAWSY7VKD2lqLJlfGce0woVqoLE19bHsQ=w4898-h3265" src="" alt="" />
            <img data-src="https://lh3.googleusercontent.com/BGx_YiU9wDSy8cb_xCWVog-1QCyEl2UfP2N2mPiDKKhzeRba12_FFb5f6_OpqlC74JFfSlsrroZHP7ORKBDYrbxcuyZ3Re55TcGFEm587WFwbeN-DkBjMxcKa9NyeHZSZf4K1O8HCw=w4898-h3265" src="" alt="" />
            <img data-src="https://lh3.googleusercontent.com/L5a76r5Ae8Rm5pJj2YjSbx3vEHpP_asa130xwt9OGcrI4TCdsIuIC5805kYIeG76H5pRw4c5SwfydYysXh7gIhSma7YAcnlFUCpECQxztlaANihz12fxxhFoxhe-J3qdPX-xdTWnBw=w4898-h3265" src="" alt="" />
            <img data-src="https://lh3.googleusercontent.com/Ad2Xx5DM1adMf9lUNJro8IxE4In88syhN9gXPkNvlRBzrGbmlli2bFb6C56MSa3ITGKIPbrfGqCvf6ejhdmMSgycyiTK5tQ9ptmisMq2yB6I6uXEmQs7MArNx9DJzNp-B8-sb-glXQ=w4898-h3265" src="" alt="" />
            <img data-src="https://lh3.googleusercontent.com/LEJRLmVzYaxkqKxiXXcnZrljFBF_276-WwopUh9uXl0Ar1NwCwfAKFDwMS3hAKQD1EqiwrSfBwuoSGuM38-ydVqOe2bosGAY7JCr_TpEFchDSvvMtSlxVPTNgMVgwqRFP8JvAN_7_g=w4898-h3265" src="" alt="" />
            <img data-src="https://lh3.googleusercontent.com/UVo2YOVn1VRxb8Bl5MlrR7jcdLualpEedZACpiyTFzHGHzlF-TW5SPxs5FWiY3t1fHIV2_UQOxnPojaa1fju5FNRSQXHOoqeZg2BzT5W9ALluNvIgLWWm84yVtfiWkOUo0LIlfEWQQ=w4898-h3265" src="" alt="" />
            <img data-src="https://lh3.googleusercontent.com/2oUUhROmn84_tONtU7BJjtXGHUc3YcfW3BuCLgRwdjUWHscgEcOssw3qRDQluQtBM5Sr7St1u5n73ZO71-doW-yPOoMo87QrLb1LwBQW1oLUw8LVxnAMzklG7F05HwhBp2JDmiAXBw=w4898-h3265" src="" alt="" />
            <img data-src="https://lh3.googleusercontent.com/1X7t1NP_bEqCBCPY0YEIK5oMB6BQ4APD6DU8IfBhVI5VMlylnJMHaxx1pc1e0uzbFiUOAGGngSVuoOOTc507d9bVb9zrWC2mO7vkF9c3FHxSb5d-f1eNTu01fPyr9O9IOsH-I_m-iQ=w4898-h3265" src="" alt="" />
            <img data-src="https://lh3.googleusercontent.com/zXxV01NipuNcYMTNnAMPxafosAGeVV75gcJ0oWPwHI-foQIf_OH5phV7-dOCeCOz-L_jbt4B3l0gdrTsNDlBVmARGdRlD6XpwGQU35VmtAIzWH8rwG0u5edYooF2DAgRAPiMaQ9XlA=w4898-h3265" src="" alt="" />
            <img data-src="https://lh3.googleusercontent.com/tbYuGVkxWxVgnBmU7LxMK6vLPKnod6DZI0YEwyql-KBCYfRwJ9tDTw_6-x0yMsNw3GoTrfXceimmlyBygyEJOmRyqJHE_fj0WuuKilsvmcVoOpuzftrb6b7OQ6WWmMQDcxgSq2PB9Q=w5058-h3163" src="" alt="" />
            <img data-src="https://lh3.googleusercontent.com/uc5TNEGxb_3cjfVvLwWOzsKpO9Sx3UMZxBWAL1hLXP-6HZpR3Hh9pZyQiwxKYr-FFsIGmq3L12foWj8c7cdXeAk3elOj2iiMCX_5dHzTXmsCQESimdIiK_ums6SIcXq3Vpf3O5N9pQ=w4898-h3265" src="" alt="" />
            <img data-src="https://lh3.googleusercontent.com/q5DPpedEUuYxmb-DPlBbkVfAo1a47mb7OnfBWjOEg1V7pNUd6sjdPqmMH3UXveHO2Vj5lxLFW2yF57R9bIAaqI67icFQKS2zk5y5bELq26uPQx7BIAfb_FTJ82ZxcUdwzmVTPgQelQ=w4898-h3265" src="" alt="" />
            <img data-src="https://lh3.googleusercontent.com/_-m8KwgM1ZG4YL9S5FW4-bHE2Ex5dQON_JPSH_MpBlhNRNrVSc4WiL5Ov9QhEhhXaYEpovQ0UHdJRHWFC4rVk03NedatF-HmJOVxxjKrx0ujekqpZ2JrV0IoijCNwBGMTU5d8LlH8A=w4898-h3265" src="" alt="" />
            <img data-src="https://lh3.googleusercontent.com/Adi_hcOfHWvB6UuabDTscfkiSDPPz6-_6emQggXLdGYMTb3a5xAPSg0R1_q1TGR-GgVaKCVfT-iMGj21fGLLs-5kfiPN7mMpI1aEMrOYSrg9X7Vax-THm1t3ATx7g4DzLEmbHTxUnA=w4898-h3265" src="" alt="" />
            <img data-src="https://lh3.googleusercontent.com/EsPI432CYTdOcZqUjxvH4ULzoV8W5BxvFWwH2hfX46SQr0PX5cqpeOa1m1e14vNsU8Cgpf6hchdwm4Iot52vExwADOqRB8tTRK2o1PfXI1Esk7UpKjWEi8VL2Vq5Rq0CW9EGNpBOaA=w4733-h3379" src="" alt="" />
            <img data-src="https://lh3.googleusercontent.com/S-27tm9z_LuDkaRbynU7wHlm_E52sKiuRULyO3-MhIcxVz5AQrIWsnbKJVJAFD99WlU0BUo8Tb7BTWrTUDX9Jc9_SqlTwFHQbm0sxYy2oIkVB8xhhCX8NZQwTKx7Y8VjA10fC5DkaA=w4898-h3265" src="" alt="" />
            <img data-src="https://lh3.googleusercontent.com/G3htXHQ4xjktdc1eGrvVHi2x0hwR5QBjFRvxhRII0xPJAox4fQ1HnWJOSPhdA276sEVYis682P7Ig7mKpQ_mYBAgmH8rKvQUCfQ5arXZrIhlyZ2eOLk9vTW_IAOOhbgfHxElHyOyRg=w4898-h3265" src="" alt="" />
            <img data-src="https://lh3.googleusercontent.com/o4gZmo7H4tAr-gtkdylDRUZ4Pwiu5nwL82rE8nZuRJJnwib2fcEg6ih1bq-6-Lmr19Sr1F5rJruwtUtoj2UhjdUH4Q58YarnJtKfo6o4x8I5fJ08QIQBkiUaDjvAAnpBQ_3EqXnlhQ=w4898-h3265" src="" alt="" />
            <img data-src="https://lh3.googleusercontent.com/vKpNgJCKGhO556D_36_V7BXjRysOPmy87blyLXzc7gTp06VZnVeP5odXBOD0oyh5Ze_idjpUtub09PGHwFfPXjVXgLw733WBRnziPVxON9R92cWubNiMttHvEXQBHg1SEAoaEEpr8Q=w4898-h3265" src="" alt="" />
            <img data-src="https://lh3.googleusercontent.com/oiXMxV4yXb0SxSh5vKyePsGLgkq3njvjGBVeleANaN-rNQGkFaUYaFTXe-StKVeNZdigc1orVlKYHtnvdozfiM40RlDPAuqJm0MkvmNP1QSLtknrrNayJZgP8Xf8R9FcykKV82b6xA=w4898-h3265" src="" alt="" />
            <img data-src="https://lh3.googleusercontent.com/pmLAAC92R_pYMWYNN2w9P-OTtg3vdbH2BLlWSXrKBwGrlq-SsfKSPTOcznB5BgVML4b3QLTq-9RXdTrkQTI9BrHZDoI_rNVGIg-TrphfJOEkXj95ZSHtCqGGWuiV9doufNvDcGdWSg=w4898-h3265" src="" alt="" />
            <img data-src="https://lh3.googleusercontent.com/Tsn4is7euZyMNgA25cI0ywUazy96iMuPkbtbOvuFluf4V9lOiWa_2B9ZmB6qE9PFdXFqL5bYtMXLhs9MRNxTP_pELbbPtl3aMSEUSOkXSybfZvCQHZxbE9sxvfOuroMJOJYl0c-KhQ=w4898-h3265" src="" alt="" />
            <img data-src="https://lh3.googleusercontent.com/n3cjEZyyRZ2Lb2R-ALxBvNzF-lNkulp3fW-wJlubKCMzG2lr1hRh6D5zr2XLd2PUr-Fza3R4v7DvTVxvYVzqNvx6PAOisRVIjOZzcIdnxaIQ6Q5fNNqIgkxRKmY2ES-UCKcB4bb_Lg=w4898-h3265" src="" alt="" />
            <img data-src="https://lh3.googleusercontent.com/EuyjC4WPXNeNJKg-yZg2sgYJFV93aPzXBwyzMUlcxFoweFnwvztyeB0-mCUcjkWxDMK0_mE74q_KZCclIvg91sBX5mk46tFs1SF6eksMJZ55kCLAnW-hfvkUiJ7ExVchg27FX2jSEw=w4253-h3762" src="" alt="" />
            <img data-src="https://lh3.googleusercontent.com/AQ9rbqcNdu8FBElPPR20UMEdP3y22xkd3XwSWZtsx2tFPyVEPotOTUUn1Xyd_WOZiHRS39QfmXbiNfdR1TfFYiemrH8lUc0NuPZn1UJXS8ED4BPLwNme2PNYxn5iDg0UoNLvg22ceQ=w4364-h3665" src="" alt="" />
            <img data-src="https://lh3.googleusercontent.com/kZhH9UZa7W6rpIWAE3mgPLvFxzj7rkEljuySXevy5w2dtIcoP86MF9T95T7AeZ0y63VUHmeWQqK_4NkkLVT5lPpaMH63qfvIBIpPo3qaWK9LoSVfeLlSINNZi9DDKXwaorQ2RVO1IA=w4898-h3265" src="" alt="" />
            <img data-src="https://lh3.googleusercontent.com/Aa0yUOWEOmS_gn2hPF3yrSnrgpzIpdrMw1PVvl1wURexWunEXgpcFIz_tBMgHcNeYFdpZEghCrXqwpdegvOEbGRqh17_LVK2I4W8IvHokD-ZllqPF5CK5_L9cZ0TES3nR3Ff2rhVkw=w4898-h3265" src="" alt="" />
            <img data-src="https://lh3.googleusercontent.com/1ctjhqgsHbgIyj7hdG71thfoVozrCaEincyFqVXKYmYcqos7o9zEMwS_OJUJrN0DToBSH4Hj1NdLW6u1ezGXmqis5VBXJ7jlqejjZPxF_pd2TLkC-MQhj99KujNcUycCI1i8iFEHLw=w4898-h3265" src="" alt="" />
            <img data-src="https://lh3.googleusercontent.com/fxr4CnF2L2rlp9l1d-IKRjPTkoHFtuN_15_aKUFcEc1FCgdZNzIh5JqSqcD9n0J_rORrILeUT5KNFw6yDpSH8zQfdtaPGYcBkbrc0GmB2TYYBMEtt8DWIRcWwz4Su3mrWDobKVcCPA=w4898-h3265" src="" alt="" />
            <img data-src="https://lh3.googleusercontent.com/wCfdvlnktAsrGlhr6FS9HhkPOC55CyfFAI1GeLzfRhX2Gi0J0ejry3iAmfgHZWR2j3IFBvF79eTAwsGEzGR6uw3VIjB7CbKSDHyOV6mSzf3MhwZRQQQ_sYTXtkKymBfdmfHAMYsKvA=w4898-h3265" src="" alt="" />
            <img data-src="https://lh3.googleusercontent.com/YFV4vU3ONfWuPI8ZvKEQJgXbakadh3H3kqzJaD3CtXFxOK5KZv0A06rZPBsuAhfGR3IsROO5vBGaNR5CuKCE_VMXRb-m8M7g0837cDY93q9BWtKg0YzGM0HhZKlkwVMoc4V4Ofg7ng=w4898-h3265" src="" alt="" />
            <img data-src="https://lh3.googleusercontent.com/Hj0p0avbzIcZzUbkpyFuZ2vI87KmLmvcRYRVY_ghNMFdyEfiWAZyC3BLoYXerEv8MoINPKSbJRSW_JVjOyyvZsiR-v2kzqK-zf1UJ14xipxwedA9kbrv3HXPu6RTDKsQgUvOO03jqw=w4522-h3538" src="" alt="" />
            <img data-src="https://lh3.googleusercontent.com/mOmPJw0qTIy0Yi2Ow-nodqX3XDYUgYOTId-twmkeoUx6UOhvUID8gmao6A9IOQ8GdwIeDYX6b5EMStuztP5HmP4VQQ4JQmo_0p5nVydQBjJPG4GUchF7hgbv8MKNFq_fpP_NdtYqUA=w4898-h3265" src="" alt="" />
            <img data-src="https://lh3.googleusercontent.com/yYVJ3p31odIGaB9vNX4xtDN-qpNYU4rIVnGtP5MHsr_JeUZO1rVi7mpccUgrO73qzcHg4BIuASWHlU2aDOjUv3AzqU73TTCB-sJTBc3zEaYj_ObBXdpEh0jYoEuaXTYixSvYBR2Veg=w4898-h3265" src="" alt="" />
            <img data-src="https://lh3.googleusercontent.com/tQsFcN2iMs3RA6KW0VcIfG7CW3vN2I2-Z_rcaOhOkpCAF1Wmc6y6Usw7WhZmPYVdK9gD34AyiZla0YnigLu1ILnYfCLGeEQ_5kX29M8dFqGQFuEHyPXp4Onpuc46spwi1oQ5gfqhsg=w4898-h3265" src="" alt="" />
            <img data-src="https://lh3.googleusercontent.com/83PoWJcpt3p-G0l-94w2gh9vjI9FBeVVXvgy5FK7GD9rK0wPflC6BSFk4I_jhioHVqm0-7JBJ-KtdOgEOrDhwMpJwhmSmUXF6WoZ7QzuQ-L8AUCd7j1tEx6MK9seHIXaPUJqrbazyQ=w4898-h3265" src="" alt="" />
            <img data-src="https://lh3.googleusercontent.com/zKI4pdCXFlLPHwA4_fAHSLMImyDRz3z8dhC-DFy0VDUateM4aWQrAE9VPtdZJfjbVRnKSQqQnv4eoyoRkcOJYbTn5a_EGW04TODDFeg4y7X-a1XQ7cd_o-vxdgHz2-RmK0Pf3Ze4HA=w4898-h3265" src="" alt="" />
            <img data-src="https://lh3.googleusercontent.com/VJ3v7op_eEhT9eMpCCTJ3NgLkbQFO-1V2Ks0od29cQPPTvPD7wtM6bvs63v_90_7K8s5wUOICZY1ECuOCqIigojw4ksc_2dWT0PgcyJJalKmSWXJWgMXq6Vh6aQHwXzseh_3P4x8WQ=w4898-h3265" src="" alt="" />
            <img data-src="https://lh3.googleusercontent.com/h7Ceqi6w0fgkBQk1g9vNqpOIQjn-JHXocz9tfEgYNULtgvCKEeGiQgT-p9S_gT7P1NeX0JUSvh8QIDxXQ_gP4NxLJvzH92cQaZRHCPNFWr1SZqZEcUhPkhTt80IDXjUkndJTQiz1WA=w4681-h3418" src="" alt="" />
            <img data-src="https://lh3.googleusercontent.com/fHKQAIMVHoc0Ko9xD2lBMUwCmjadr9zQe-y2iGjFM65APWb_MZFKVsR3Taa6O86eY5V5cEMrJGR1N2ryKsFYP5MdUKU_7ns6kcWYEYIbjs0z9TdakCzYMQWye6ll4g4tuPz_Tyb2Uw=w4898-h3265" src="" alt="" />
            <img data-src="https://lh3.googleusercontent.com/rxbGsApLqgLWf8xtb8Sy2IEo7mImuZtLGP5g6CCOedK4APoHm3Ha66bnaemcmVi3U9MclMaA89HUsNT0mx6weyXZ9NeIc5orkoLmszFdWxe03XjkdrmvpySqIz4vVD9TAJbNGP_Z7g=w4898-h3265" src="" alt="" />
            <img data-src="https://lh3.googleusercontent.com/nRHCP41Ghs2UVXcnff0RJV4MuuNO2Mmwt4eB8Q5mgCYuWRmqH5lVtvquwu6XNWmYavouZcnKXVuMlFVKIcJ7hhc0zlaR1GXYoLA1CaEoE55fnKgGWj1s14Cs8OiUEIEUd95LfaM27g=w4898-h3265" src="" alt="" />
            <img data-src="https://lh3.googleusercontent.com/5144S7UXOc4XpoaC0BLrIcoLlds80jcJ9uzVrqTCNftbK0pY7K9X_fSq-v4VrGvKNYnMVMDbf07-BmYsrQYKsDtKE7dp3piFsS_K36nmyf-m-Z2Vq_TTLKgOeYykX8PwStOCuaUqJQ=w4297-h3723" src="" alt="" />
            <img data-src="https://lh3.googleusercontent.com/t9kaUQCSFZ3j5-ksASHN34ixIuVWqJDCa0csOpIoMJeaA3Mhim2c_zn76d4si9rde1C3_6byQ91gnhNnzeip8EkYPTNnieJILiEd28-oAfWuWkMbHQf0UtC3wOBaUCpp4IRaprNqnQ=w4898-h3265" src="" alt="" />
            <img data-src="https://lh3.googleusercontent.com/pu4QiDlu8E6uny1R-AdDXHqsAxcVHvtxwtdFCgCcVb2Dm7NMDcbr5E4ezVXBWOg78I0tZWgooPylUjlZSNQqwUu2vEfAu5oH8gmm8GBggZG3eHE97p-0NjBUX2PJ91Vo8pPE7rZwRg=w4898-h3265" src="" alt="" />
            <img data-src="https://lh3.googleusercontent.com/FVOLVc07f98gdEIVBvzsw5GODi001z5h88ACBy8Wb918OnR961cvIbyh4yvukv-oyM83HyxsiR_ZCFy5j0dHUwFgzD9MrKxuhphEWJAgj2rjwN_6lXhqC0QUWUjUxbBS1LmkbDBUaA=w4898-h3265" src="" alt="" />
            <img data-src="https://lh3.googleusercontent.com/huCU3gBMOndxPBixLDqRFgKduOAB1mkhtZ4l_RC_yBEPGU2n9v3VLXUZjMUWcG_IP_SQPDEv7R4xgdLLcN8xyNynJ6DJXLD6Q3kGo3uhhyWNpWgQZBK1_7K5fMLqkvhtaEk01DJziQ=w4898-h3265" src="" alt="" />
            <img data-src="https://lh3.googleusercontent.com/HeP8HmxvNDK4mK_fgsuBuM1eCAnn53ndijqSAtAEvM5O0RdzEkoeO_KC8mZFNWuqb0G-wQV0WEoO0C2eAa-n7ou6CCpXS3Z0bY-MP9_CObkkY-zZoTYyVdaiB-x6cySbH7TNh93qKg=w4816-h3321" src="" alt="" />
            <img data-src="https://lh3.googleusercontent.com/ElwJ-j3MtBUtE5nZYMQSkNPYOkvVyFKEsk-LbG7wpxYwRRsUGza2HLGn53oIFXBSE6j_P8th0dzuQMBgXp3_SWXIKyMa62F0DGMp1dI5iUv7JbkXyZBMt8uwDCdByMdRHBygGnBmIA=w4898-h3265" src="" alt="" />
            <img data-src="https://lh3.googleusercontent.com/RNvh2c46roaqWY1lT-r3AaWDph56hzz3rmcPBpIDNGfD9T0-acuUukTjnI8rGRCi3FA6od0iyBKhepoI95MwnLEOLxcgDsCwfeP-NFhCEWuLlZd7Bq9fDwpnqQ6R3TCUleghbDmNEg=w5298-h3019" src="" alt="" />
            <img data-src="https://lh3.googleusercontent.com/JrBwqE2AQsF71QPCP7rdbNf7OBGtklMUiOW-gB0KAN2JCnsLRlNdApvZ3TKGmOCy-hmID-UdOHI3hXXBMQL9hJNKVNEg16w8TKBRLG7645PJrhjQldDgh_Q_1a8Gb5bEHag_X4G2BQ=w5674-h2820" src="" alt="" />
            <img data-src="https://lh3.googleusercontent.com/RbkA1MPQo46V389hBF8X5ruXlPbL4QnY7xB0uOvuMQva4Ttdqe23eTTl-fVRH2dWR5OM-rqP9xsYAyL19w9mpudKE4GHtdb8uMlRzg78GVWm-chGAdTP_A7r2I7OUMUf6Ua0k5GMqQ=w5288-h3026" src="" alt="" />
          </div>
      </div>
    </div>
  </section>
