<!-- Services Section -->
  <section id="intro">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading">Celebrating Ada Lovelace Day 2018</h2>
        </div>
      </div>
      <div class="row container">
        <p>
          On 9 October 2018 - <a href="https://findingada.com/">Ada Lovelace Day</a> - we're delighted to share with you some of the stories from <strong>Gamechangers for Diversity in STEM</strong>.
        </p>
        <p>
          You can listen to this wonderful podcast by the even more wonderful <a href="https://www.sp.phy.cam.ac.uk/directory/ankita-anirban">Ankita Anirban</a> and featuring many of our fantastic participants:
        </p>
        <audio src="/css/2018_style/Podcast_v2_20181008.mp3" controls preload></audio>
        <p>
          Or check out the write up on the Turing Institute website by Turing communications team member <a href="https://www.turing.ac.uk/people/business-team/chizom-ekeh">Chizom Ekeh</a>: <em>ADD LINK</em>
        </p>
        <p>
          You can watch the videos of our wonderful keynote speakers:
          <ul>
            <li>Tabitha Goldstaub</li>
            <li>Dr Emma Chapman</li>
            <li>Dr Ozak Esu</li>
            <li>Dr Alfredo Carpineti</li>
          </ul>
        </p>
      </div>
    </div>
  </section>
