<!-- Services Section -->
  <section id="video">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading">Experience the event</h2>
        </div>
      </div>
      <div class="row container">
  
        <style>
          .video {
          position:relative;
          padding-bottom: 56.25%;
          height:0;
          overflow:hidden;
          align: middle;
          }
          .video iframe, .video object, .video embed {
          position: absolute;
          margin: auto;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          width: 100%;
          height: 100%;
          }
        </style>
        <div class="video">
          <iframe width="560" height="315" 
                src="https://www.youtube.com/embed/_cohQUYVbrY" 
                frameborder="0" 
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
          </iframe>
        </div>
      </div>
      <div class="row container">
        <center>
          <h4>
            Everyone is welcome to keep in touch with the Gamechangers community
          </h4>

          <a href="http://eepurl.com/gc1bJv" class="page-scroll btn btn-xl">Join the mailing list</a>

        </center>
      </div>
    </div>
  </section>