<!DOCTYPE html>
<html>

  {% include core_data/head.html %}

    <body id="page-top" class="index">

    {% include core_data/header-home.html %}

    <!-- Header -->
    <header>
        <div class="container">
            <div class="intro-text">
                <div class="intro-heading">Gamechangers for Diversity in STEM<br></div>
                <div class="intro-lead-in">21 & 22 September 2018</div>
                <div class="intro-lead-in">The Alan Turing Institute, London UK</div>
                <a href="#intro" class="page-scroll btn btn-xl">Tell Me More</a>
            </div>
        </div>
    </header>

    {% include 2018_data/postevent.html %}
    {% include 2018_data/intro.html %}
    {% include 2018_data/speakers.html %}
    {% include 2018_data/about.html %}
    {% include 2018_data/sponsors.html %}
    {% include 2018_data/contact.html %}
    {% include core_data/footer.html %}
    {% include 2018_data/speakers_info.html %}
    {% include core_data/js.html %}
    {% include open-embed.html %}

    </body>
</html>
